.forecasting-row {
    background-color: lightblue;
}

/* Style untuk legenda */
.legend {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #ccc;
}

.actual-data-color {
    background-color: white;
    /* Warna latar belakang untuk data aktual */
}

.forecasting-data-color {
    background-color: lightblue;
    /* Warna latar belakang untuk data peramalan */
}
